:root{
        /* THEME LIGHT */
    --Wback:#f5f3f3;
    --border-ngrey:#e3e3e3;
    --violet:#3f005f;
    --shadow-W:#9b9b9b;
        /* THEME DARK */
    --Bback:#181818;
    --border-grey:#2b2727;
    --violet-b: #ca62ff;
    --shadow-B: #000000;

    --green-dark:#008000;
    --green-ligth:#00ff00;
    --red-dark:#b90101;
    --red-ligth:#ff0000;
}
html {
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    font: message-box;
    color-scheme: light dark;
    color: light-dark(#0f0f0f, #f0f0f0);
}

*, *::before, *::after  {   box-sizing: border-box; }

body{
    min-height: 100dvh;
    background-color: light-dark( var(--Wback), var(--Bback)) ;
}

@media (prefers-reduced-motion:reduce){
    *, *::before, *::after{
        animation-duration: 0.01ms;
        animation-iteration-count: 1;
        transition-duration: 0.01ms;
        scroll-behavior: auto;
        transition: none;
    }
}

h1, h2, h3, h4, h5 {    text-wrap: balance;  }

a { text-decoration: none;}

img {  height: auto; max-width: 100%; }

select:focus-visible{ outline: none;}

section{  margin-top: 6rem;  }

        /* HEADER --- --- --- --- --- --- --- --- --- --- --- --- --- */
header{    
    width: 100%;
    height: 50px;
    position: sticky;
    background-color: light-dark(var(--border-ngrey), var(--border-grey));
    box-shadow: 0px 1px 6px light-dark(var(--shadow-W), var(--shadow-B)) ;
}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 100%;
}

nav div{
    margin-bottom: 8px;
    font-size: x-small;
}

nav div:hover{  border-bottom: 1px solid #8820ff; }


        /* MAIN */

main{ padding: 0 2%;   }

#cards{ 
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
}

.ft1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 47%;
    border-radius: 10px;
    border: 1px solid light-dark(var(--border-ngrey), var(--border-grey)) ;
    border-bottom:5px solid light-dark(var(--violet-b), var(--violet));
    box-shadow: 0px 3px 6px light-dark(var(--shadow-W),var(--shadow-B));
}

.ft1 img{
    z-index: -1;
    height: 100%;
    max-height: 300px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    mask-image: linear-gradient(to bottom, white 50%, transparent 95%);
    
}

.cont-txt{
    padding: 0 15px 15px 15px;
    margin-top: -40px;
}
.cont-txt h1, .cont-txt h2{
    font-size: x-large;
    /* text-shadow: 2px 2px 1px var(--violet); */
    border-bottom: 1px solid light-dark(var(--border-ngrey), var(--border-grey));
}

.cont-txt p {
    margin-top: 10px;
}



select{
    background-color: light-dark(var(--Wsec) , var(--Bsec));
    border: none;
    border-right: 1px solid #ffffff80;
}



.introduce{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 25px;
    flex-wrap: wrap;
}

.secT{
    width: max-content;
    border-bottom: 1px solid light-dark(#000000,#ffffff);
    font-size: xx-large;
}

.date, time { 
    font-size: x-small ;
    font-style: italic;
}

table {
    width: 100%;
    min-height: 1000px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid light-dark(var(--border-ngrey), var(--border-grey));
}

tr{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 10px;
    padding: 5px 10px;
    column-gap: 20px;    
    border-radius: 5px;
}
tr img{
    width: 50px;
    border-radius: 50%;
}

th{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: start;
    border-right: 1px solid light-dark(#0000002b, #ffffff2b) ;
}




td{ 
    display: flex;
    align-items: center;    
    width: 100%;
    height: 100%;
    font-size: 25px;    
}


.firstch{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 10px;
    font-size: 20px;
}

.name{ width: 100%; }


.coin{ border: 1px solid light-dark(var(--violet-b), var(--violet));}
.coin:hover{
    box-shadow: 0 0 3px grey;
    width: 101%;
}
.percentage{
    padding: 2px 5px;
    border-radius: 5px;
    border: 1px solid var(--green-dark);
    box-shadow: 0 0 3px var(--green-ligth);
    color: var(--green-dark);
}
.percent-n{ 
    padding: 2px 5px;
    border-radius: 5px;
    border: 1px solid var(--red-dark);
    box-shadow: 0 0 3px var(--red-ligth);
    color: var(--red-dark);
}

.cg{
    margin-top: 5px;
    text-align: center;
}



.txt-h{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid light-dark(var(--border-ngrey), var(--border-grey));
}

details {
    padding: 5px;
    border-bottom: 1px solid light-dark(var(--violet-b), var(--violet)) ;
}

summary {
    margin: 15px 0;
    padding: 10px;
    font-size: large;
    list-style-type: disc;
    
}

details p{
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: light-dark(#ffff,#1c1b1b) ;
}




.toolB {
    margin-right: 5px;
    background: none;
    border: none;
}
.toolB p {
    width: inherit;
    color: light-dark(#c7ab7b,#554832);
    opacity: .3;
}
.toolB p:hover {
    opacity: 1;
}
.tooltip {
    padding: 5px;
    inset-area: top;
    border: none;
    border-radius: 5px;
    background-color: light-dark(#ffffff,#000000fa) ;
    box-shadow: 0 0 10px 4px light-dark(#9b9b9b,#000000);
}

        /* FOOTER */
footer{
    margin-top: 5rem;
    height: 60px;
    background-color: light-dark(var(--border-ngrey), var(--border-grey));
}

footer div{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}



@media (max-width:800px) {
   
    #cards{
        flex-direction: column;
        gap: 20px;
    }
    .ft1{
        width: 100%;
    }
    .ft1 img{
        max-height: 250px;
    }

    h1, h2 {
        font-size: large;
    }
    .cont-txt p {
        font-size: small;
    }
    .secT {
        font-size: x-large;
    }
    .introduce{ padding: 5px 15px; margin: 0;}
    th p, td p{
        font-size: small;
    }
    nav a {
        font-size: x-small;
    }
}
@media (max-width:600px){
    main{   
        padding: 0;
    }
    .ft1{
        border-radius: 0;
        border-right: none; border-left: none;
    }
    .ft1 img {
        border-radius: 0;
    }
    .secT{ font-size: large;}
    tr img { width: 40px;}
    table{ border-right: none; border-left: none;
             padding-top: 0;}
    .txt-h{ border-right: none; border-left: none; }
    .data, time{
        font-size: xx-small;
    }
}
@media (max-width:450px){
    nav a{
        font-size: xx-small;
    }
    table{
        padding: 5px 0;
    }
    tr{
        margin: 0;
        column-gap: 5px;
        padding: 3px 10px;
    }
    .coin{
         border-left: none;
        border-right: none;
        border-top: none;
    }
    summary{
        font-size: medium;
        margin: 0;
    }
    details p{
        font-size: small;
        padding: 10px;
    }
}
